<div class="calculator">
	<form method="post" enctype="text">
		<table>
			<tbody>
				<tr>
					Male or Female
				<td>
					<input type="radio" value="choice" name="gender">
					Male
				</td>
				<td>
					<input type="radio" value="choice" name="gender">
					Female
				</td>		
					</tr>
			</tbody>
		</table>
	<table>
			<tbody>
				<tr>
					Weight
				<td>
					<input name="weight">
					Male
				</td>	
					</tr>
			</tbody>
		</table>
	</form>
</div>