<div class="calculator">
	<form method="post" enctype="text">
		<table>
			<tbody>
				<tr>
					Male or Female
				<td>
					<input type="radio" value="choice" name="gender">
					Male
				</td>
				<td>
					<input type="radio" value="choice" name="gender">
					Female
				</td>		
					</tr>
			</tbody>
		</table>
	<table>
			<tbody>
				<tr>
					Weight
				<td>
					<input name="lbs">
					Lbs
				</td>	
					</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					Hours Since First Drink
				<td>
					<input name="hours">
					Hours
				</td>	
					</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					Percent of Alcohol
				<td>
					<input name="abv">
					Alcohol %
				</td>	
					</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					Total Fliud Ounces
				<td>
					<input name="fl_oz">
					Fluid Ounces
				</td>	
					</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<td>
					<input name="calc-btn" type="button" value="Cheers">
				</td>
				<td>
					<input type="reset" value="Reset">
				</td>
				<tr>
					<td>
						<input name="results">
					</td>
				</tr>	
			</tbody>
		</table>

	</form>
</div>