<div class="beer-form">
	<form action='/beers' method='get'>
		<input type='text' name='query'>
		<input type='submit' value='START'>
	</form>
</div>

<div class="featured">
	<img src="<%= @f_label %>">
	<h2><%= @f_beer %></h2>
	<h2><%= @f_brewery %></h2>
	<h2><%= @f_location %></h2>
</div>