<div class="beer-holder">
	<div class="choosen-beer">
		<img src="<%= @label %>">
			<%= @name.upcase %> is <%= @abv %>% Alcohol By Volume
		</div>
	<h2>Here's the shit they talk:</h2>
	<h3><%= @description %></h3>

	<form method="get" action="/">
		<input type="submit" value="Back">
	</form>
</div>