body {
	/*background-image: url('/assets/bottles.png');*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-color: black;
	color: white;
	font-family: calibri;
	font-size: 50px;
}

#rza {

}

.beer-holder {
	border: 1px solid black;
	position: center;
	display: block;
	margin-left: 300px;
	margin-right: 300px;
}

.beer-form {
	border: 1px solid black;
	position: absolute;
	left: 50%;
  top: 30%;
  z-index: 100;

  width: 600px;
  margin-left: -300px;

  width: 600px;
  margin-left: -300px;
}

.right-bar {
	border: 1px solid black;
  top: 60%;
	float: right;
	width: 220px;
}

.featured {

}

.trending {

}

ul {
	list-style-type: none;
	font-size: 14px;
}


form {
  width:50%; 
  margin:0 auto;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 14px;
}

